<h2 data-tab-handle="recent-changes">Recent Changes</h2>
<div id="recent-changes">
  <div class="statistics">
    <h3>Statistics</h3>
    <p class="stats note">Statistics are compiled from beers in the cellar.</p>

    <div class="stats clearfix">
      <div class="left">
        <div class="field">
          <strong>Beers currently in cellar:</strong> <%= @cellar.active_beers.size %>
        </div>

        <div class="field">
          <strong>All beers ever added:</strong> <%= @cellar.beers.size %>
        </div>

        <div class="field">
          <strong>Oldest beer by year:</strong> <%= oldest_beer(@cellar) || content_tag('em', 'None') %>
        </div>
      </div>

      <div class="right">
        <div class="field">
          <strong>Favorite brewery:</strong> <%= favorite_brewery(@cellar) || content_tag('em', 'Unknown') %>
        </div>

        <div class="field">
          <strong>Favorite beer:</strong> <%= favorite_beer(@cellar) || content_tag('em', 'Unknown') %>
        </div>

        <div class="field">
          <strong>Favorite style:</strong> <%= favorite_style(@cellar) || content_tag('em', 'Unknown') %>
        </div>
      </div>
    </div>
  </div>

  <ul class="events">
    <% if @cellar.user.events.empty? %>
        <li class="empty"><%= is_users_cellar? ? "You don't" : @cellar.user.username + " doesn't" %> have any recent
          activity.
        </li>
    <% else %>
        <% @cellar.user.events.first(15).each do |e| %>
            <%== render_event e %>
        <% end %>
    <% end %>
  </ul>
</div>
