<% content_for :title do %>
  <%= @cellar.user.username %>'s beer cellar
<% end %>

<div class="clearfix page-title">
  <div class="profile-info clearfix">
    <%= gravatar_for(@cellar.user, :class => "gravatar", :align => 'left', :width => '50px') %>

    <div class="user-info">
      <h1><%= @cellar.user.username %></h1>
      <span class="note"><%= @cellar.user.location %></span>
    </div>
  </div>

  <%= render 'users/watch_button', :user => @cellar.user %>
  <%= render 'users/watching', :user => @cellar.user %>
</div>

<%= render 'shared/email_blocked_by_aws' %>

<h2 data-tab-handle="cellar">Cellar</h2>
<div id="cellar">
  <%= render 'list', :cellar => @cellar %>
</div>

<h2 data-tab-handle="recent-changes">Recent Changes</h2>
<div id="recent-changes">
  <%= render 'shared/events', :events => @cellar.user.events.recent %>
</div>

<% content_for :javascript do %>
<script type="text/javascript" src="/javascripts/hoptopus.grid.js"></script>
<script type="text/javascript" src="/javascripts/jquery.sortableColumns.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dynamicForm.js"></script>
<script type="text/javascript" src="/javascripts/jquery.pagedDialog.js"></script>

<script type="text/javascript">
function makeSortable() {
    var table = $('#cellared-beers');

    var headers = {};
    table.find('th').each(function(i) {
        if ($(this).hasClass('unsortable')) {
            headers[i] = { sorter: false };
        }
    });

    table.tablesorter({headers: headers});
}

function beerClicked() {
  if($(this).is(':first-child')) {
    return;
  }

  var beerId = $(this).parent().attr('data-beer');
  var beerPath = '<%= cellar_beer_path(@cellar, '%beer_id%') %>'.replace('%beer_id%', beerId); 
  window.location.href = beerPath;
}

$(function() {
  var grid = hoptopus.grid({
    sortable: true,
    table: $('#cellared-beers'),
    columns: <%== default_columns.to_json %>,
    nameFormatter: function(obj) { return obj.name; },
    pageSize: 25,
    rowClicked: beerClicked,
    beersCount: $('div.beers-count span.count')
  });

  var beers = <%== active_beers_as_json(@cellar) %>;
  var breweries = <%== @cellar.breweries.to_json %>;

  grid.rowClasses = ['color1', 'color2'];
  grid.init({beers: beers, breweries: breweries});
});
</script>
<% end %>
