<% if @cellar.user == @user %>
	<p>This is your cellar!</p>
<% end %>

<p id="notice"><%= notice %></p>


<table class="list">
	<thead>
		<tr>
			<th>Brewery</th>
			<th>Beer</th>
			<th>ABV</th>
			<th>Quantity</th>
			<th>Cellared On</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
<% if @cellar.beers.empty? %>
		<tr>
			<td colspan="5" class="empty">Hmm doesn't look like you have any beers in your cellar.</td>
		</tr>
<% else %>
	<% @cellar.beers.each do |b| %>
		<tr>
			<td><%= b.brewery.name %></td>
			<td><%= b.name %></td>
			<td><%= b.abv %></td>
			<td><%= b.quantity %></td>
			<td><%= b.cellared_at %></td>
			<td></td>
		</tr>
	<% end %>
<% end %>
	</tbody>
</table>

<% unless @new_beer.nil? %>
	<% form_for(@cellar.beers.new, :url => cellar_beer_path(@cellar.id, 'new')) do |f| %>
	
<div class="field">	
	<%= label_tag "brewery", "Brew:" %>
	<%= select_tag "brewery", options_from_collection_for_select(Brewery.all, 'id', 'name'), { :include_blank => '' } %>
	<%= f.select :brew, [], { :include_blank => 'Select a Brewery' } %>
</div>

	<% end %>
<% end %>