<% content_for :title do %>
    <% if is_users_cellar? %>
        your beer cellar
    <% else %>
        <%= @cellar.user.username %>'s beer cellar
    <% end %>
<% end %>

<div class="profile-info clearfix">
  <%= gravatar_for(@cellar.user, base_url(request), :class => "gravatar", :align => 'left', :width => '50px') %>

  <div class="user-info">
    <h2><%= @cellar.user.username %></h2>
    <span class="note"><%= location_str :city => @cellar.user.city, :state => @cellar.user.state, :country => @cellar.user.country %></span>
  </div>
</div>

<% if is_users_cellar? %>
    <% alert 'welcome' do %>
        <h3>Welcome to Hoptopus!</h3>
        <p>There are a few things you can do to get up and running quickly with hoptopus.<p>

        <ul>
          <li><strong>Upload your cellar.</strong> You can import your cellar under the "Upload Cellar" tab below. This
            will help you get your cellar inventory in place quickly so you can start sharing and trading with people.
          </li>
          <li><strong>Contribute to the Brew Wiki.</strong> See what beers are currently in the brew wiki and perhaps
            add some that you don't see. Maybe you will learn something about a beer that you might not have otherwise!
          </li>
          <li><strong>Browse other peoples' cellars.</strong> See what other people in the hoptopus community are
            cellaring and compare notes on how long you should plan to age your beers.
          </li>
        </ul>
    <% end %>

    <% alert 'my_cellar' do %>
        This is your cellar! Share it with others: <a href="<%= cellar_url %>"><%= cellar_url %></a>
    <% end %>

    <% if notice %>
        <div class="notice"><%= notice %></div>
    <% end %>
<% end %>

<h2 data-tab-handle="activity">Recent Activity</h2>
<div id="activity">
  <ul class="events">
    <% if @cellar.user.events.empty? %>
        <li class="empty"><%= is_users_cellar? ? "You don't" : @cellar.user.username + " doesn't" %> have any recent
          activity.
        </li>
    <% else %>
        <% @cellar.user.events.first(15).each do |e| %>
            <%== render_event e %>
        <% end %>
    <% end %>
  </ul>
</div>

<h2 data-tab-handle="cellar">Cellar</h2>

<div id="cellar">

  <div class="buttons info" align="right">
    <% if is_users_cellar? %>
        <div class="left">
          <button type="button" id="new-beer">Add</button>
          <button type="button" id="import-beers">Import</button>
          <button type="button" id="edit-beers" disabled>Edit</button>
          <!--<button type="button" id="check-out-beers" disabled>Check Out</button>-->
        </div>
    <% end %>

    <span class="info">Drag header to re-order columns.</span>
    <button type="button" id="columns-button">Select Columns</button>
    <button type="button" id="clear-filters">Clear Filters</button>
  </div>

  <%= form_tag(cellar_path(@cellar.user.username), :id => 'edit-cellar') %>
  <table class="beers list" id="cellared-beers">
    <thead>
    <tr>
      <% if is_logged_in? %>
          <th class="unsortable" width="25"></th>
      <% end %>
      <th width="40" id="year">Year</th>
      <th id="brewery">Brewery</th>
      <th id="variety">Variety</th>
      <th id="quantity">Quantity</th>
    </tr>
    <tr class="filters">
      <% if is_logged_in? %>
          <td></td>
      <% end %>
      <td></td>
      <td data-filter-for="brewery_name">
        <select name="search[brewery_name]">
          <option value=""></option>
          <%= options_from_collection_for_select(@cellar.breweries, :name, :name, {:include_blank => true}) %>
        </select>
      </td>
      <td data-filter-for="name"><input type="text" name="search[name]"/></td>
      <td></td>
    </tr>
    </thead>

    <tbody>

    <% if @cellared_beers.empty? %>
        <tr>
          <td colspan="<%= is_users_cellar? ? '8' : '5' %>" class="empty">
            <% if is_users_cellar? %>
                You haven't added any beer to your cellar yet! User the "Add Beer to your Cellar" tab to add beer.
            <% else %>
                There is no beer in this cellar yet.
            <% end %>
          </td>
        </tr>

    <% else %>

        <% c = 'color2' %>
        <% @cellared_beers.each do |b| %>
            <% c = (c == 'color2' ? 'color1' : 'color2') %>

            <tr data-beer="<%= b.id %>" class="<%= c %>">
              <% if is_logged_in? %>
                  <td align="center" valign="middle">
                    <input type="checkbox" name="beer_id" value="<%= b.id %>"/>
                  </td>
              <% end %>
              <td align="right" class="year"><%= b.year %></td>
              <td><%= b.brewery_name || b.brew.brewery.name %></td>
              <td data-brew-id="<%= b.brew.id %>"><%= link_to b.name || b.brew.name, cellar_beer_path(@cellar, b) %></td>
              <td><%= b.quantity %></td>
            </tr>

        <% end %>

    <% end %>
    </tbody>
    <% if @beers_left_in_pagination > 0 %>
        <tfoot>
        <tr>
          <td colspan="5" align="center">
            <button type="button" id="show-more">Show More (<%= @beers_left_in_pagination %>)</button>
          </td>
        </tr>
        </tfoot>
    <% end %>
    </table>
  </form>
</div>

<h2 data-tab-handle="tastings">Tasting Notes</h2>
<div id="tastings">

  <table class="list" <%= is_table_sortable? @tastings %>>
    <thead>
    <tr>
      <th>Brewery</th>
      <th>Beer</th>
      <th>Tasted</th>
      <th>Aged</th>
      <th class="unsortable"></th>
      <% if is_users_cellar? %>
          <th class="unsortable"></th>
          <th class="unsortable"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% if @tastings.empty? %>
        <tr>
          <td colspan="3" class="empty">No tastings have been recorded. How sad.</td>
        </tr>
    <% else %>
        <% c = 'color2' %>
        <% @tastings.each do |t| %>
            <% c = (c == 'color2' ? 'color1' : 'color2') %>

            <tr class="<%= c %>">
              <td><%= t.brew.brewery.name %></td>
              <td><%= t.brew.name %></td>
              <td align="center"><%= distance_of_time_in_words(t.created_at, Time.now) %> ago</td>
              <td align="center"><%= distance_of_time_in_words(t.cellared_at, t.created_at) %></td>
              <td align="center"><%= link_to 'Notes', brew_tasting_path(t.brew, t) %></td>
              <% if is_users_cellar? %>
                  <td align="center"><%= link_to 'Edit Notes', edit_brew_tasting_path(t.brew, t) %></td>
                  <td align="center"><%= button_to 'Delete', brew_tasting_path(t.brew, t), :method => :delete, :confirm => 'You sure?' %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
    <% end %>
    </table>
</div>

<% if is_users_cellar? %>

    <h2 data-tab-handle="upload-cellar">Upload Cellar</h2>
    <div id="upload-cellar">
      <div class="info">Please fill out the <a href="/cellar_import_template.csv">cellar template</a> and save it as a
        CSV document.
      </div>

      <% form_for(UploadCellar.new, :url => upload_cellar_path(@cellar), :html => {:multipart => true}) do |f| %>
          <div class="field">
            <%= f.label :file, 'File:' %>
            <%= f.file_field :file %>
          </div>

          <div class="buttons">
            <button type="submit">Upload</button>
          </div>
      <% end %>
    </div>

    <h2 data-tab-handle="preferences">Preferences</h2>

    <div id="preferences">

    <%= render 'users/editform' %>

    </div>

    <div class="hidden">
    <div id="add-beer-form">
        <%= render 'beers/add', :beer => Beer.new(:cellar => @cellar, :cellared_at => Time.now),
                   :url => cellar_beers_path(@cellar),
                   :form_element_prefix => 'beer',
                   :include_form => true,
                   :include_buttons => true %>
    </div>
    </div>
<% end %>

<% content_for :javascript do %>
    <% if is_users_cellar? %>
        <script type="text/javascript">
            var brews = {};
            <% Brewery.all.each do |b| %>
            brews[<%= b.id %>] = <%== b.brews.to_json %>;
            <% end %>
        </script>
        <script src="/javascripts/brewery-helper.js" type="text/javascript"></script>
    <% end %>
    <script type="text/javascript" src="/javascripts/hoptopus.grid.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.sortableColumns.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.dynamicForm.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.pagedDialog.js"></script>
    
    <script type="text/javascript">
        function makeSortable() {
            var table = $('#cellared-beers');

            var headers = {};
            table.find('th').each(function(i) {
                if ($(this).hasClass('unsortable')) {
                    headers[i] = { sorter: false };
                }
            });

            table.tablesorter({headers: headers});
        }

        // Post-process this crap.
        var unprocessed = <%== @cellar.beers.select { |b| b.removed_at.nil? }.to_json(:methods => [:formatted_cellared_at, :bottle_size_name, :formatted_price]) || '{}' %>;
        var processed = [];
        for (var i in unprocessed) {
            processed.push(unprocessed[i].beer);
        }

        var unprocessedBreweries = <%== @cellar.breweries.to_json %>;
        var processedBreweries = [];
        for (var i in unprocessedBreweries) {
            processedBreweries.push(unprocessedBreweries[i].brewery);
        }

        $(function() {
            $('#import-beers').bind('click', function(e) {
                $('div.tabs h2[data-tab-handle="upload-cellar"]').click();
            });

            var tbl = $('#cellared-beers').sortableColumns({ showPosition: true });

            var grid = hoptopus.grid({
                columnAdded: function(th) {
                    // Report to the sortableColumns thinger that a column has been added.
                    tbl.sortableColumns('addColumn', th);
                    makeSortable();
                },
                columnRemoved: function(th) {
                    // Report to the sortableColumns thinger that a column has been removed.
                    tbl.sortableColumns('removeColumn', th);
                    makeSortable();
                },
                sortable: true,
                table: $('#cellared-beers'),
                dropdown: $('#columns-button'),
                columns: <%== @grid_columns.to_json %>,
                nameFormatter: function(obj) {
                    return $('<a/>').attr('href', '/cellars/<%= @cellar.id %>/beers/' + obj.id).text(obj.name);
                }
            });

            grid.objects = processed;
            grid.breweries = processedBreweries;
            grid.rowsShown = 25;
            grid.rowClasses = ['color1', 'color2'];

            $('#new-beer').bind('click', function() {
                var dialog = $('#add-beer-form');
                dialog.dialog({modal:true, width: 'auto', height: 'auto', resizable: false, title: 'Add a Beer to your Cellar'});
                
                dialog.find('form').dynamicForm({
                    errorListSelector: '#add-beer-form ul.errors',
                    submitStart: function() {
                        hoptopus.showProgress('Adding...')
                    },
                    submitDone: function() {
                        hoptopus.hideProgress();
                    },
                    success: function(data) {
                        dialog.dialog('close');
                        
                        // Add this silly row to the silly thing.
                        // TODO: Remove this stupid de-referencing!
                        var tr = grid.addSingleObject(data.beer, {front:true});

                        // We need to pulse the TR to make it obvious what it is.
                        var bg = tr[0].style.backgroundColor;
                        tr.effect('highlight', {color:'#85af22'}, 1500);
                        
                        dialog.find('form').each(function() { this.reset(); });
                        dialog.find('ul.errors').empty();
                    }
                });
            });

            // Note: This has to happen here because we have to use the useable Beers
            // thinger.
            $('#show-more').click(function() {
                // Grab 25 beers off the list and stick them in the table.
                var n = 25;
                grid.moreRows(n);

                var l = -1;
                if (grid.searchResults) {
                    l = grid.searchResults.length - hoptopus.grid.rowsShown;
                }
                else {
                    l = grid.objects.length - hoptopus.grid.rowsShown;
                }

                if (l > 0) {
                    var txt = $('#show-more').text();
                    txt = txt.replace(/\d+/, l);
                    $('#show-more').text(txt);
                }
                else if (l < 1) {
                    $('#show-more').hide();
                }
            });

            $('#clear-filters').click(function(e) {
                grid.clearFilters();
            });

            $('#cellared-beers input[type="checkbox"]').click(function() {
                var checked = $('#cellared-beers input[type="checkbox"]:checked');
                var editBeers = $('#edit-beers');

                if (editBeers.is(':disabled') && checked.length > 0) {
                    editBeers.removeAttr('disabled');
                }
            });

            var editCellar = $('#edit-cellar').dynamicForm({
                success: function(data) {
                    var dialogs = $(data).pagedDialog({ pageSelector: 'div.edit.beer', dialogOptions: { width: 'auto', height: 'auto', modal: true, resizable: false, title: 'Edit Beers'} });
                    setupDatePickers();
                  
                    var dialog = dialogs[0];

                    // Before the previous button lets insert a bunch of buttons.
                    var div = $('<div/>').addClass('submit buttons');
                    var cancelButton = $('<button/>').text('Cancel').click(function() { dialog.close(); }).attr('type', 'button');
                    var submitButton = $('<button/>').text('Save Beers');

                    div.append(cancelButton);
                    div.append(submitButton);
                    $(dialog.prevButton).before(div);

                    // Also, this data should be a dynamic form.
                    var form = $(dialog.dialog).find('form').first();
                    var dynamicForm = $(form).dynamicForm({
                        submitStart: function() {
                          hoptopus.showProgress('Saving...');
                        },
                        submitDone: function() {
                          hoptopus.hideProgress();
                        },
                        success: function(data) {
                          dialog.close();
                        },
                        error: function(errors) {
                          // Indirection for great victory!
                          errors = errors['errors'];

                          var errorsDiv= $('<div/>').addClass('errors').html('Some of your updates contain errors! The beers without errors have been saved and removed.<br/>The beers with errors remain here.');
                          errorsDiv.hide();
                          $(dialog.prevButton).parent().after(errorsDiv);
                          errorsDiv.fadeIn('fast');

                          // For each of the errors in the dialog, figure out which ones have errors and which ones don't.
                          // then rebuild the links at the bottom of the page.
                          var elements = $(dialog.dialog).find('div.edit.beer');
                          var l = elements.length;
                          for(var i = 0; i < l; i++) {
                              var element = elements[i];
                              var id = $(element).attr('data-id');

                              if(!id) {
                                  throw "ID attribute missing from page element.";
                              }

                              if(id in errors) {
                                // If there is an errors UL, then empty it and put the errors in. Otherwise,
                                // create one and add to the errors.
                                var ul = $(element).find('ul.errors') || $('<ul/>').addClass('errors');
                                ul.empty();

                                for(var j in errors[id]) {
                                  ul.append($('<li/>').text(errors[id][j]));
                                }
                              }
                              else {
                                // Not here, just get rid of it.
                                $(element).remove();
                              }
                          }

                          // Now rebuild all of the links and show the first page.
                          dialog.rebuildLinks($(dialog.dialog).find('div.edit.beer'));

                          $(dialog.dialog).find('input, select').one('focus', function() {
                            window.setTimeout(function() {
                              $(errorsDiv).fadeOut('fast', function() { $(this).remove(); });
                            }, 1500);
                          });
                        }
                    });

                    submitButton.click(function() {
                        return dynamicForm[0].submit('<%= cellar_beers_path(@cellar.user.username) %>');
                    });
                },
                error: function() {
                    alert('AWW YAAA');
                },
                submitStart: function () {
                    hoptopus.showProgress('Loading...');
                },
                submitDone: function() {
                    hoptopus.hideProgress();
                },
                responseType: 'html'
            });

            $('#edit-beers').click(function() {
                editCellar[0].submit('<%= edit_cellar_beers_path(@cellar.user.username) %>');
            });
        });
    </script>
<% end %>
