<% content_for :title do %>
	<%= @brew.name %>
<% end %>


<h2>Edit <%= @brew.name %></h2>

<%= form_for(@brew) do |f| %>
  <% if @brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
      <% @brew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brew_type_id, 'Type:' %>
    <%= f.collection_select :brew_type_id, BrewType.order('name').all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :brewery_id, 'Brewery:' %>
    <span id="brewer_id"><%= @brew.brewery.name %></span>
  </div>
  <div class="field">
	<%= f.label :abv, 'ABV:' %>
	<%= f.text_field :abv %>
  </div>
  <div class="field">
	<%= f.label :ibus, 'IBUs:' %>
	<%= f.text_field :ibus %>
  </div>
  <div class="field">
	<%= f.label :description, 'Description:' %>
	<%= f.text_area :description %>
	
	<span class="note">Markdown syntax for formatting is applied. I will write a syntax legend at some point.<br/>In the mean time see <a href="http://daringfireball.net/projects/markdown/">Daring Fireball's guide to markdown syntax</a>.
  </div>
  <div class="actions">
    <%= f.submit 'Save Beer' %> <%= link_to 'Back', brews_path %>
  </div>
<% end %>

