<% content_for :title do %>
	brews wiki
<% end %>

<h2>Brews Wiki</h2>

<p class="empty">All of the brews and shit go here!</p>

<%= link_to 'Add a Beer', new_brew_path %> <%= link_to 'Add a Brewery', new_brewery_path %>

<h3>All Beers</h3>

<table class="list">
  <tr>
    <th>Brewery</th>
    <th>Beer</th>
    <th></th>
  </tr>
<% if @brews.empty? %>
  <tr>
    <td colspan="3" class="empty">Oh god! No beers have been added!</td>
  </tr>
<% else %>
	<% @brews.each do |brew| %>
  <tr>
    <td><%= brew.brewery.name %></td>
    <td><%= brew.name %></td>
    <td align="right"><%= link_to 'Edit', edit_brew_path(brew) %></td>
  </tr>
	<% end %>
<% end %>
</table>
