<% content_for :title do %>
	brews wiki
<% end %>

<h2>Brews Wiki</h2>

<div class="navigation"><%= link_to 'Add a Beer', new_brew_path %> <%= link_to 'Add a Brewery', new_brewery_path %></div>

<h3>All Beers</h3>
<div class="info"><strong>Note:</strong> Sort multiple columns by holding the "shift" key while selecting the columns to sort by.</div>
<table class="list" data-sortable="true">
	<thead>
	  <tr>
		<th>Beer</th>
		<th>Type</th>
		<th>Brewery</th>
		<th class="unsortable"></th>
	  </tr>
	</thead>
	
	<tbody>
<% if @brews.empty? %>
  <tr>
    <td colspan="3" class="empty">Oh god! No beers have been added!</td>
  </tr>
<% else %>
	<% c = 'color2' %>
	<% @brews.each do |brew| %>
		<% c = (c == 'color2' ? 'color1' : 'color2') %>
  <tr class="<%= c %>">
		<td><%= link_to brew.name, brew_path(brew) %></td>
		<td><%= brew.brew_type.name %></td>
		<td><%= brew.brewery.name %></td>
		<td align="center"><%= link_to 'Edit', edit_brew_path(brew) %></td>
  </tr>
	<% end %>
<% end %>
	</tbody>
</table>
