<% content_for :title do %>
	add a beer
<% end %>

<h2>Add a Beer</h2>

<%= form_for(@brew) do |f| %>
  <% if @brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
      <% @brew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brew_type_id, 'Type:' %>
    <%= f.collection_select :brew_type_id, BrewType.order('name').all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :brewery_id, 'Brewery:' %>
    <%= f.collection_select :brewery_id, Brewery.order('name').all, :id, :name %> <span class="note">Don't see the brewery? <%= link_to 'Add a Brewery', new_brewery_path %></span>
  </div>
  <div class="field">
	<%= f.label :abv, 'ABV:' %>
	<%= f.text_field :abv %> %
  </div>
  <div class="field">
	<%= f.label :ibus, 'IBUs:' %>
	<%= f.text_field :ibus %>
  </div>
  <div class="field">
    <%= f.label :suggested_aging_years, 'Suggested Aging:' %>
    <%= f.select :suggested_aging_years, (0..50).to_a %> years <%= f.select :suggested_aging_months, (0..11).to_a %> months
  </div>
  <div class="actions">
    <button type="submit">Add Beer</button>
	<%= link_to 'Back', brews_path %>
  </div>
<% end %>