<% content_for :title do %>
	<%= @brew.brewery.name %>'s <%= @brew.name %>
<% end %>

<div class="navigation">
	<%= link_to 'Back to Brew Wiki', brews_path %>
	
	<% if is_logged_in? %>
	<%= link_to 'Edit Beer', edit_brew_path(@brew) %>
	<%= link_to 'Add this beer to My Cellar', cellar_path(@user.username) + "?beer=#{@brew.id}\#add-a-beer" %>
	<% end %>
</div>

<h2><%= @brew.brewery.name %>'s <%= @brew.name %></h2>

<h2 data-tab-handle="info">Wiki Page</h2>

<div id="info">
    <div class="brief info">
        <div class="field">
            <span class="label">Name:</span>
            <span class="value"><%= @brew.name %></span>
        </div>
        
        <div class="field">
            <span class="label">Type:</span>
            <span class="value"><%= @brew.brew_type.name %></span>
        </div>
        
        <div class="field">
            <span class="label">Brewery:</span>
            <span class="value"><%= @brew.brewery.name %></span>
        </div>
            
        <div class="field">
            <span class="label">Location:</span>
            <span class="value"><%= brew_location @brew %></span>
        </div>
        <div class="field">
            <span class="label">ABV:</span>
            <span class="value"><%= @brew.abv || 'Unknown' %></span>
        </div>
        <div class="field">
            <span class="label">IBUs:</span>
            <span class="value"><%= @brew.ibus || 'Unknown' %></span>
        </div>
        <div class="field">
            <span class="label">Suggested Aging:</span>
            <span class="value"><%= suggested_aging(@brew) %></span>
        </div>
    </div>

    <div class="description">
        <%== @revision.to_html || 'No description has been provided.' %>
    </div>
</div>

<h2 data-tab-handle="tastings">Tastings</h2>
<div id="tastings">
	<table class="list" <%= is_table_sortable? @brew.tastings %>>
		<thead>
			<tr>
				<th>User</th>
				<th>Aged</th>
				<th width="180">Tasted On</th>
				<th width="50" class="unsortable"></th>
			</tr>
		</thead>
		<tbody>
	<% if @brew.tastings.empty? %>
			<tr>
				<td colspan="4" class="empty">This beer hasn't been tasted yet.</td>
			</tr>
	<% else %>
		<% c = 'color2' %>
		<% @brew.tastings.each do |t| %>
			<% c = (c == 'color2' ? 'color1' : 'color2') %>
			<tr class="<%= c %>">
				<td><a href="/cellars/<%= t.user.username %>"><%= t.user.username %></a></td>
				<td align="center"><%= distance_of_time_in_words(t.cellared_at, t.created_at) %></td>
				<td align="center"><%= t.created_at.strftime "%A %B %d, %Y" %></td>
				<td align="center"><%= link_to 'Notes', brew_tasting_path(t.brew, t) %></td>
			</tr>
		<% end %>
	<% end %>
		</tbody>
	</table>
</div>

<h2 data-tab-handle="cellars">Cellars with this Beer</h2>
<div id="cellars">
    <ul>
    <% if @brew.cellars.empty? %>
        <li class="empty">No cellars have this beer in them.</li>
    <% else %>
        <% @brew.cellars.each do |c| %>
        <li><%= link_to c.user.username, cellar_path(c.user.username) %></li>
        <% end %>
    <% end %>
    </ul>
</div>