<% content_for :title do %>
	<%= @brew.brewery.name %>'s <%= @brew.name %>
<% end %>

<h2><%= @brew.brewery.name %>'s <%= @brew.name %></h2>

<div class="brief">
	<div class="field">
		<span class="label">Name:</span>
		<span class="value"><%= @brew.name %></span>
	</div>

	<div class="field">
		<span class="label">Brewery:</span>
		<span class="value"><%= @brew.brewery.name %></span>
	</div>
		
	<div class="field">
		<span class="label">Location:</span>
		<span class="value"><%= @brew.brewery.city ? @brew.brewery.city : "" %>, <%= @brew.brewery.state %>
	</div>
</div>

<h3>Recent Tastings</h3>

<table class="list">
	<tr>
		<th>User</th>
		<th>Aged</th>
		<th>Tasted On</th>
		<th></th>
	</tr>
<% if @brew.tastings.empty? %>
	<tr>
		<td colspan="4" class="empty">This beer hasn't been tasted yet.</td>
	</tr>
<% else %>
	<% @brew.tastings.each do |t %>
	<tr>
		<td><%= t.user.username %></td>
		<td><%= distance_of_time_in_words(t.cellared_at, t.created_at) %></td>
		<td><%= t.created_date %></td>
		<td></td>
	</tr>
	<% end %>
<% end %>
</table>