<% content_for :title do %>
    confirm password reset
<% end %>

<h2>Confirm Password Reset</h2>

<div class="reset-password">  
	<% unless @reset_request.errors.empty? %>
	<ul class="errors">
		<% @reset_request.errors.each do |element,msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
		
    <%= form_for(@reset_request, :url => confirm_password_reset_path(@reset_request.security_token)) do |f| %>

    <div class="field">
        <%= f.label :user_email, 'Email Address:' %>
		<%= f.email_field :user_email %>
    </div>
		
	<div class="field">
        <%= f.label :password, 'New Password:' %>
        <%= f.password_field :password, :value => '' %>
    </div>
        
    <div class="field">
        <%= f.label :password, 'Confirm Password:' %>
        <%= f.password_field :password, :value => '' %>
    </div>
	
	<div class="buttons">
		<button type="submit">Reset Password</button>
	</div>
	
	<% end %>
</div>