<div class="reset-password">    
    <%= form_for(@reset_request, :url => confirm_password_reset_path(@reset_request.security_token)) do |f| %>
	
	<span class="note">For security purposes please supply your email again.</span>
    <div class="field">
        <%= f.label :user_email, 'Email Address:' %>
		<%= f.email_field :user_email %>
    </div>
		
	<div class="field">
        <%= f.label :password, 'New Password:' %>
        <%= f.password_field :password, :value => '' %>
    </div>
        
    <div class="field">
        <%= f.label :password, 'Confirm Password:' %>
        <%= f.password_field :password, :value => '' %>
    </div>
	
	<div class="buttons">
		<button type="submit">Reset Password</button>
	</div>
	
	<% end %>
</div>