<% content_for :title do %>
	login
<% end %>

<% if request.post? and @user.nil? %>
	<ul class="errors">
		<li>Invalid username or password.</li>
	</ul>
<% end %>

<% form_tag('/login', :method => 'post') do %>
	<div class="username"><%= label_tag :username, "Username:" %> <%= text_field_tag :username %></div>
	<div class="password"><%= label_tag :password, "Password:" %> <%= password_field_tag :password %></div>

	<div class="buttons">
		Not account? <%= link_to 'Register', '/register' %> <%= submit_tag 'Login' %>
	</div>
<% end %>