<% content_for :title do %>
  register
<% end %>


<h2 id="register_title">Create your hoptopus account!</h2>

<div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>

<% if request.post? and not @new_user.errors.empty? %>
  <ul class="errors">
    <% @new_user.errors.each do |element, msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% Carmen.excluded_states = {'US' => ['AE']} %>

<% form_for(@new_user, :url => register_path) do |f| %>

  <div class="field">
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email, "Email Address:" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :email, "Confirm Email:" %>
    <%= f.email_field :email_confirmation %>
  </div>

  <div class="field">
    <%= f.label :password_hash, "Password:" %>
    <%= f.password_field :password_hash %>
  </div>

  <div class="field">
    <%= f.label :password_hash, "Confirm Password:" %>
    <%= f.password_field :password_hash_confirmation %>
  </div>

  <div class="field">
    <%= f.check_box :email_consent %>
    <%= f.label :email_consent, "Is it cool if hoptopus emails you for updates and feedback?", :class => 'checkbox-label' %>
  </div>

  <div class="buttons">
    <%= submit_tag 'Register' %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    var states = {};
    states['US'] = <%== Carmen.states.to_json %>;

    $('select#user_country').live('change', function() {
      var statesSelect = $('select#user_state');
      var countryStates = states[$(this).val()];

      if (!countryStates && (typeof statesSelect.attr('disabled') !== 'undefined')) {
        statesSelect.empty();
        statesSelect.append($('<option/>').val('').text('No states available for this country.'));
        statesSelect.attr('disabled', true);

        return;
      }
      else if (!countryStates && (typeof statesSelect.attr('disabled') === 'undefined')) {
        // Don't do anything
        return;
      }

      statesSelect.empty();
      for (var i in countryStates) {
        var state = countryStates[i];

        if (typeof(state) != 'object') {
          continue;
        }

        statesSelect.append($('<option/>').val(state[1]).text(state[0]));
      }

      statesSelect.removeAttr('disabled');
    });
  </script>
<% end %>