<% content_for :title do %>
	register
<% end %>


<h2>Register</h2>

<% if request.post? and not @new_user.errors.empty? %>
<ul class="errors">
	<% @new_user.errors.each do |element,msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<% form_tag('/register', :method => 'post') do %>
	<div class="field"><%= label_tag :email, "Email Address:" %> <%= email_field_tag :email, params[:email] %></div>
	<div class="field"><%= label_tag :username, "Username:" %> <%= email_field_tag :username, params[:username] %></div>
	<div class="field"><%= label_tag :password, "Password:" %> <%= password_field_tag :password %></div>
	<div class="field"><%= label_tag :password_confirmation, "Confirm Password:" %> <%= password_field_tag :password_confirmation %></div>
	<div class="field"><%= check_box_tag :email_consent, 1, true %> <%= label_tag :email_consent, "Is it cool by you if hoptopus emails you from time to time for updates and feedback?", :class => 'email-consent' %></div>
	<div class="buttons">
		<%= submit_tag 'Register' %> 
	</div>
<% end %>