<% content_for :title do %>
	reset password
<% end %>

<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<div class="reset-password">    
    <%= form_for(@reset_request, :url => request_password_reset_path) do |f| %>
        <% unless @reset_request.errors.empty? %>
        <ul class="errors">
            <% @reset_request.errors.each do |element,msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        <% end %>

        <div class="field">
                <%= f.label :user_email, 'Email Address:' %>
                <%= f.email_field :user_email %>
        </div>
        
        <div class="buttons">
            <button type="submit">Reset Password</button>
        </div>
    <% end %>
</div>