<% content_for :title do %>
	reset password
<% end %>

<div class="info">Supply your email address and you'll receive an email with instructions.</div>

<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<div class="reset-password">    
    <%= form_for(@reset_request, :url => reset_password_path(@reset_request.security_token)) do |f| %>
        <% unless @reset_request.errors.empty? %>
        <ul class="errors">
            <% @reset_request.errors.each do |element,msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        <% end %>

        <% if @reset_request.security_token %>
        <div class="field">
            <%= f.label :password, 'New Password:' %>
            <%= f.password_field :password, :value => '' %>
        </div>
        
        <div class="field">
            <%= f.label :password, 'Confirm Password:' %>
            <%= f.password_field :password, :value => '' %>
        </div>
        <% else %>

        <div class="field">
                <%= f.label :user_email, 'Email Address:' %>
                <%= f.email_field :user_email %>
        </div>
                
        <% end %>
        
        <div class="buttons">
            <button type="submit">Reset Password</button>
        </div>
    <% end %>
</div>