<% content_for :title do %>
	add <%= @tasting.brew.name %> tasting notes
<% end %>

<h2>New Tasting Notes for <%= @tasting.brew.name %></h2>

<%= form_for([@beer.cellar, @beer, @tasting]) do |f| %>
	<div class="field">
		<span class="label">Tasted On:</span>
		<span calss="value"><%= Time.now.strftime "%A %B %d, %Y" %></span>
	</div>

	<div class="field">
		<span class="label">Aged:</span>
		<span calss="value"><%= distance_of_time_in_words(@tasting.cellared_at, Time.now) %></span>
	</div>

	<div class="field">
		<%= f.label :markup, 'Tasting Notes:' %>
		<%= f.text_area :markup %>
		<span class="note">Markdown syntax for formatting is applied. I will write a syntax legend at some point.<br/>In the mean time see <a href="http://daringfireball.net/projects/markdown/">Daring Fireball's guide to markdown syntax</a>.
	</div>
	
	<div class="buttons">
		<button type="submit">Save Tasting Notes</button> <%= link_to 'Back', root_url %>
	</div>
<% end %>