<div id="navigation">
  <ul>
  <% if is_logged_in? %>
    <li class="user-info">
      <a href="<%= cellar_path(current_user.username) %>"><%= gravatar_for current_user, :class => "gravatar inlineimg" %> <strong><%= current_user.username %></a></strong>
    </li>

    <% if current_user.admin? %>
      <li><%= link_to 'Admin', admin_root_path %></li>
    <% end %>

    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Preferences', preferences_user_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  <% else %>
    <li><%= link_to 'Tour', tour_path %></li>
    <li><%= link_to 'Register', register_path %></li>
    <li><%= link_to 'Login', login_path %></li>
    <li class="connect"><span class="or">or</span> <a href="<%= facebook_connect_path %>"><img src="/images/fb-connect.gif" alt="Login with Facebook Connect" /></a></li>
  <% end %>
  </ul>

  <%= render :partial => 'shared/search' %>
</div>
