<% content_for :title do %>
  hoptopus: the easy way to track and share what's in you beer cellar
<% end %>

<div class="centered page-title">
  <h1>The easy way to track and share what's in your beer cellar.</h1>
</div>

<div class="more-info">
    <div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>
    <h2 class="tag">Hoptopus helps you catalog, sort, filter, and share what is in your beer collection.</h2>

    <ul>
      <li>Keep track of whats in your beer collection.</li>
      <li>Show off specific beers in your collection.</li>
      <li>Share tasting notes before and after aging.</li>
      <li>Discover new beers with tastig notes from other users.</li>
    </ul>

    <p class="tour">
      <%= link_to 'Take a Tour!', tour_path %>
    </p>
</div>

<div class="front-page signup">
  <h3>Create Your Free Hoptopus Account!</h3>
  <% form_for(User.new, :url => register_path) do |f| %>
    <%= f.hidden_field :email_consent, :value => true %>

    <div class="field">
      <%= f.label :username, "Username:" %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email, "Email Address:" %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %>
    </div>

    <div class="buttons">
      <%= submit_tag 'Register' %>
    </div>
  <% end %>
</div>

<div class="newsletter">
  <span class="note">Sign up for the hoptopus newsletter!</span>

  <div class="wrapper">
    <input type="text" name="email" id="email" /> <button type="button" id="signup">Signup</button>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
var progressImg = new Image();
progressImg.src = '/images/progress-small.gif';

$('#signup').live('click', function() {
  var emailInput = $('#email');

  if(emailInput.isEmpty()) {
    return;
  }

  var wrapper = $(this).parents('.wrapper');
  var parent = wrapper.parent();

  // Post this back to the server.
  wrapper.fadeOut('fast', function() {
    $(progressImg).hide();
    $(progressImg).appendTo(parent);
    $(progressImg).fadeIn('fast', function() {
      $.ajax({
        url: '<%= newsletter_signup_path %>',
        data: { email: emailInput.val() },
        type: 'POST',
        error: function(data) {
          $(progressImg).fadeOut('fast', function() { wrapper.fadeIn('fast'); });
          var errors = JSON.parse(data.responseText);
          var span = $('<span/>').addClass('error').text(errors.message.email[0]);
          wrapper.append(span);

          $('#signup').click(function() { span.fadeOut('fast', function() { $(this).remove(); }) });
          $('#email').keypress(function() { span.fadeOut('fast', function() { $(this).remove(); }) });
        },
        success: function(data) {
          $(progressImg).fadeOut('fast', function() {
            var span = $('<span/>').addClass('thankyou note').text('Hurray! Thanks for signing up.');
            span.appendTo(parent);
            span.fadeIn('fast');
          });
        }
      });
    });
  });
});
</script>
<% end %>
