<% content_for :title do %>
	the easy way to share your beer cellar and tasting notes
<% end %>

<div class="description clearfix">
	<h2>The easiest way to track and share whats in your beer cellar!</h2>
	
	<div class="more-info">
		<p class="note">Hoptopus makes it easy for you to track the contents of your beer cellar and share what you're currently cellaring with your friends!</p>
		
		<ul>
			<li>Track the contents of your cellar and where your beers are in the aging process.</li>
			<li>See what other people are storing in their cellars.</li>
			<li>Keep notes to share with others on different beers and their flavors during and after the aging process.</li>
		</ul>
	</div>
</div>

<div class="login">
	<% if request.post? and @user.nil? %>
		<ul class="errors">
			<li>Invalid username or password.</li>
		</ul>
	<% end %>

	<% form_tag('/login', :method => 'post') do %>
		<div class="field"><%= label_tag :username, "Username:" %> <%= text_field_tag :username %></div>
		<div class="field"><%= label_tag :password, "Password:" %> <%= password_field_tag :password %></div>

		<div class="buttons">
			<span class="note">No account? <%= link_to 'Register', '/register' %></span> <%= submit_tag 'Login' %>
		</div>
	<% end %>
</div>