<% content_for :title do %>
	the easiest way to share your private beer cellar and tasting notes
<% end %>

<div class="description clearfix">
	<h2>Hoptopus is the easiest way to track and share whats in your beer cellar!</h2>
	
    <div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>
    
	<div class="more-info">
		<p class="note">Discover new brews while you learn more about the beer you're aging.</p>
        
        <div class="signup">
            <%= link_to 'Create an Account!', register_path, :class => 'homepage-register' %>
            <span class="or">or</span>
            <%= link_to 'Take a Look Around!', cellars_path, :class => 'homepage-lookaround' %>
        </div>
<!--		
		<ul>
			<li>Share the contents of your cellar and find out how your beers' flavor will develop.</li>
			<li>See what other people are storing in their cellars.</li>
			<li>Keep, share, and find tasting notes on your beers as they age.</li>
		</ul>
-->
	</div>
</div>

<!--
<table width="100%">
	<tr>
		<td width="50%" align="center" valign="top">
			
		</td>
		<td width="50%" align="center" valign="top">
<div class="login">
	<% if request.post? and @user.nil? %>
		<ul class="errors">
			<li>Invalid username or password.</li>
		</ul>
	<% end %>
	
	<p class="note">No account? <%= link_to 'Register', '/register' %></p>

	<% form_tag('/login', :method => 'post') do %>
		<div class="field"><%= label_tag :username, "Username:" %> <%= text_field_tag :username %></div>
		<div class="field"><%= label_tag :password, "Password:" %> <%= password_field_tag :password %></div>

		<div class="buttons">
			<span class="note"><%= link_to 'Reset Password', request_password_reset_path %> </span> <%= submit_tag 'Login' %>
		</div>
	<% end %>
</div>
		</td>
	</tr>
</table>
-->