<% content_for :title do %>
    wiki
<% end %>

<% if is_logged_in? %>
	<div class="navigation"><%= link_to 'Add a Beer', new_brew_path %> <%= link_to 'Add a Brewery', new_brewery_path %></div>
<% end %>

<% if notice %>
	<div class="notice"><%= notice %></div>
<% end %>

<h2>Wiki</h2>

<h2 data-tab-handle="recent-activity">Recent Activity</h2>
<div id="recent-activity">
	<ul class="events">
	<% if @recent_events.nil? or @recent_events.empty? %>
		<li class="empty">How sad, no one is doing ANYTHING on this site :( Maybe someone should go <%= link_to 'groom the wiki?', wiki_index_path  %></li>
	<% else %>
		<% @recent_events.each do |event| %>
			<%== render_event event %>
		<% end %>
	<% end %>
	</ul>
</div>

<h2 data-tab-handle="brews">Brews</h2>
<div id="brews">
    <div class="letters-list" id="brew-names"><%= first_letters_link_list "/wiki/brews", :for_javascript => true %></div>

    <table class="list" id="brews-list">
        <thead>
            <tr>
              <th id="variety">Variety Name</th>
              <th id="type">Type</th>
              <th id="brewery-name">Brewery</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

<h2 data-tab-handle="breweries">Breweries</h2>
<div id="breweries">
    <div class="letters-list" id="brewery-names"><%= first_letters_link_list "/wiki/breweries", :for_javascript => true %></div>

    <table class="list" id="breweries-list">
        <thead>
            <tr>
                <th id="name">Brewery</th>
                <th id="brewery-country">Country</th>
                <th id="brewery-state">State</th>
                <th id="brewery-city">City</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<% content_for :javascript do %>
<script type="text/javascript" src="/javascripts/hoptopus.grid.js"></script>
<script type="text/javascript">
  $(function() {
      var brews_list = hoptopus.grid({
          table: $('#brews-list'),
          columns: {
              'name': { 'title': 'Variety Name', 'id': 'variety' },
              'brew_type_name': { 'title': 'Type', 'id': 'type' },
              'brewery_name': {'title': 'Brewery Name', 'id': 'brewery-name' }
          },
          nameFormatter: function(obj) {
              return $('<a/>').attr('href', '/brews/' + obj.id).text(obj.name);
          },
          fadeInRows: true,
          sortable: true
      });

      var brewery_list = hoptopus.grid({
          table: $('#breweries-list'),
          columns: {'name':{'title':'Name','id':'name'}, 'country':{'title':'Country','id':'brewery-country'}, 'state':{'title':'State','id':'brewery-state'}, 'city':{'title':'city','id':'brewery-city'}},
          nameFormatter: function(obj) {
              //return $('<a/>').attr('href', '/breweries/'+obj.id).text(obj.name);
              return $('<span/>').text(obj.name);
          },
          sortable: true
      });
      
      $('#brew-names a').click(function() {
          if($(this).hasClass('selected')) {
              return false;
          }
          
          $(this).siblings('.selected').removeClass('selected');
          $(this).addClass('selected');
          
          hoptopus.showProgress('Please wait...');
          $('#brews-list tbody').empty();
          
          var path = $(this).attr('href');
          if($(this).attr('data-path')) {
              path = $(this).attr('data-path');
          }

          $.get(path + '.json', function(data) {
              if(data.length < 1) {
                  var td = $('<td/>').attr('colspan', $('#breweries-list th').length);
                  td.addClass('empty');
                  td.text('No brew has a name that starts with that letter, number, or symbol');

                  $('#brews-list tbody').append($('<tr/>').append(td));
                  hoptopus.hideProgress();
                  return;
              }
              
              var processed = [];

              for(var i = 0; i < data.length; i++) {
                  processed.push(data[i].brew);
              }
              
              brews_list.objects = processed;
              brews_list.rowsShown = 0;
              brews_list.moreRows(25);

              hoptopus.hideProgress();
          });

          return false;
      });

      $('#brewery-names a').click(function() {
          if($(this).hasClass('selected')) {
              return false;
          }

          $(this).siblings('.selected').removeClass('selected');
          $(this).addClass('selected');

          hoptopus.showProgress('Please wait...');
          $('#breweries-list tbody').empty();

          var path = $(this).attr('href');
          if($(this).attr('data-path')) {
              path = $(this).attr('data-path');
          }

          $.get(path + '.json', function(data) {
              if(data.length < 1) {
                  var td = $('<td/>').attr('colspan', $('#breweries-list th').length);
                  td.addClass('empty');
                  td.text('No breweries has a name that starts with that letter, number, or symbol');

                  $('#breweries-list tbody').append($('<tr/>').append(td));
                  hoptopus.hideProgress();
                  return;
              }
              
              var processed = [];

              for(var i = 0; i < data.length; i++) {
                  processed.push(data[i].brewery);
              }

              brewery_list.objects = processed;
              brewery_list.rowsShown = 0;
              brewery_list.moreRows(25);

              hoptopus.hideProgress();
          });

          return false;
      });
  })
</script>

<% end %>
