<% content_for :title do %>
    wiki
<% end %>

<% if is_logged_in? %>
	<div class="navigation"><%= link_to 'Add a Beer', new_brew_path %> <%= link_to 'Add a Brewery', new_brewery_path %></div>
<% end %>

<% if notice %>
	<div class="notice"><%= notice %></div>
<% end %>

<h2>Wiki</h2>

<h2 data-tab-handle="recent-activity">Recent Activity</h2>
<div id="recent-activity">
	<ul class="events">
	<% if @recent_events.nil? or @recent_events.empty? %>
		<li class="empty">How sad, no one is doing ANYTHING on this site :( Maybe someone should go <%= link_to 'groom the wiki?', wiki_index_path  %></li>
	<% else %>
		<% @recent_events.each do |event| %>
			<%== render_event event %>
		<% end %>
	<% end %>
	</ul>
</div>

<h2 data-tab-handle="brews">Brews</h2>
<div id="brews">
    <div class="letters-list"><%= first_letters_link_list "/wiki/brews" %></div>
</div>

<h2 data-tab-handle="breweries">Breweries</h2>
<div id="breweries">
    <div class="letters-list"><%= first_letters_link_list "/wiki/breweries" %></div>
</div>
