<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>
  	<% Carmen.excluded_states = { 'US' => ['AE'] } %>
	<div class="field">
		<%= f.label :country, 'Country:' %>
		<%= f.select :country, countries_list %>
	</div>
	
	<div class="field">
	  <%= f.label :state, 'State/Province:' %>
		
	  <% unless @user.state.nil? %>
	    <%= f.select :state, Carmen.states %>
	  <% else %>
	    <%= f.select :state, [], { :include_blank => 'No states available for this country.' }, :disabled => true %>
	  <% end %>
	</div>

  <div class="field">
    <%= f.label :city, 'City:' %>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
