<h1>Breweries</h1>

<%= link_to 'Add a Brewery', new_brewery_path %>

<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th></th>
  </tr>

<% if @breweries.empty? %>
  <tr>
    <td colspan="5" class="empty">Fuck! No breweries have been added!</td>
  </tr>
<% else %>
	<% @breweries.each do |brewery| %>
  <tr>
    <td><%= brewery.name %></td>
    <td><%= brewery.country %></td>
    <td><%= brewery.state %></td>
    <td><%= brewery.city %></td>
    <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
  </tr>
	<% end %>
<% end %>
</table>
