<% content_for :title do %>
	add a brewery
<% end %>

<h2>Add a Brewery</h2>

<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>
  	<% Carmen.excluded_states = { 'US' => ['AE'] } %>
	<div class="field">
		<%= f.label :country, 'Country:' %>
		<%= f.select :country, countries_list, :selected => 'US' %>
	</div>
	
	<div class="field">
	  <%= f.label :state, 'State/Province:' %>
		
	  <% unless @user.state.nil? %>
	    <%= f.select :state, Carmen.states %>
	  <% else %>
	    <%= f.select :state, [], { :include_blank => 'No states available for this country.' }, :disabled => true %>
	  <% end %>
	</div>

  <div class="field">
    <%= f.label :city, 'City:' %>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Brewery' %> <%= link_to 'Back', wiki_index_path %>
  </div>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
var states = {};
states['US'] = <%== Carmen.states.to_json %>;

$('select#brewery_country').live('change', function() {
	var statesSelect = $('select#brewery_state');
	var countryStates = states[$(this).val()];
	
	if(!countryStates && (typeof statesSelect.attr('disabled') !== 'undefined')) {
		statesSelect.empty();
		statesSelect.append($('<option/>').val('').text('No states available for this country.'));
		statesSelect.attr('disabled', true);
		
		return;
	}
	else if(!countryStates && (typeof statesSelect.attr('disabled') === 'undefined')) {
		// Don't do anything
		return;
	}
	
	statesSelect.empty();
	for(var i in countryStates) {
		var state = countryStates[i];
		
		if(typeof(state) != 'object') {
			continue;
		}
		
		statesSelect.append($('<option/>').val(state[1]).text(state[0]));
	}
	
	statesSelect.removeAttr('disabled');
});
</script>
<% end %>
