<% if include_form %>
<%= form_tag (url) %>
<% end %>

<%= form_for(beer, :url => url) do |f| %>

<div class="clearfix">
    <ul class="errors"></ul>
  
    <div class="add-beer left">
        <div class="field">
            <%= label_tag "#{form_element_prefix}[brewery_id]", "Beer:" %>

            <% unless beer.brew.nil? %>
                <%= select_tag "#{form_element_prefix}[brewery_id]", options_from_collection_for_select(Brewery.all, "id", "name", @beer.brew.brewery.id), :include_blank => "Brewery" %>
            <% else %>
                <%= select_tag "#{form_element_prefix}[brewery_id]", options_from_collection_for_select(Brewery.order("name").all, "id", "name"), { :include_blank => "Brewery" } %>
            <% end %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[year]", "Year:" %>
            <%= text_field_tag "#{form_element_prefix}[year]" %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[quantity]", "Quantity:" %>
            <%= text_field_tag "#{form_element_prefix}[quantity]" %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[abv]", "ABV:" %>
            <%= text_field_tag "#{form_element_prefix}[abv]" %> %
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[bottle_size_id]", "Bottle Size:" %>
            <%= select_tag "#{form_element_prefix}[bottle_size_id]", options_from_collection_for_select(BottleSize.order("sort_order").all, :id, :name) %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[price]", "Price:" %>
            $ <%= text_field_tag "#{form_element_prefix}[price]" %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[cellared_at]", "Cellared Date:" %>
            <%= text_field_tag "#{form_element_prefix}[cellared_at]", beer.cellared_at ? beer.cellared_at.strftime("%Y-%m-%d") : nil, :class => "date" %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[finish_aging_at]", "Age For:" %>
          
            <%= select_tag "beer_finish_aging_year", options_for_select((0..50).to_a, @years) %> years
            <%= select_tag "beer_finish_aging_month", options_for_select((0..11).to_a, @months) %> months

            <div class="sub field">
              <%= text_field_tag "#{form_element_prefix}[finish_aging_at]", beer.finish_aging_at ? beer.finish_aging_at.strftime("%Y-%m-%d") : nil, :class => "date" %>
            </div>
        </div>
    </div>

    <div class="add-beer left">
        <div class="field">
            <% unless beer.brew.nil? %>
              <%= select_tag "#{form_element_prefix}[brew_id]", options_from_collection_for_select(Brew.find_by_brewery_id(beer.brew.brewery.id), :id, :name), :disabled => true %>
            <% else %>
              <%= select_tag "#{form_element_prefix}[brew_id]", nil, { :include_blank => "Beer", :disabled => true } %>
            <% end %>
        </div>

        <div class="field">
            <%= label_tag "#{form_element_prefix}[markup]", "Notes:" %>
            <%= text_area_tag "#{form_element_prefix}[markup]" %>
        </div>
    </div>
</div>
    
<div class="buttons submit">
    <button type="button" data-close-dialog>Cancel</button>
    <button type="submit">Add Beer to Cellar</button>
</div>

<% if include_form %>
</form>
<% end %>