<%= form_for(beer, :url => url) do |f| %>
<div class="clearfix">
    <ul class="errors"></ul>
  
    <div class="add-beer left">
        <div class="field">
            <%= label_tag "brewery", "Beer:" %>

            <% unless beer.brew.nil? %>
                <%= select_tag "brewery", options_from_collection_for_select(Brewery.all, 'id', 'name', @beer.brew.brewery.id), :include_blank => 'Brewery' %>
            <% else %>
                <%= select_tag "brewery", options_from_collection_for_select(Brewery.order('name').all, 'id', 'name'), { :include_blank => 'Brewery' } %>
            <% end %>
        </div>

        <div class="field">
            <%= f.label :year, "Year:" %>
            <%= f.text_field :year %>
        </div>

        <div class="field">
            <%= f.label :quantity, "Quantity:" %>
            <%= f.text_field :quantity %>
        </div>

        <div class="field">
            <%= f.label :abv, "ABV:" %>
            <%= f.text_field :abv %>
        </div>

        <div class="field">
            <%= f.label :bottle_size_id, "Bottle Size:" %>
            <%= f.collection_select :bottle_size_id, BottleSize.order('sort_order').all, :id, :name %>
        </div>

        <div class="field">
            <%= f.label :price, "Price:" %>
            <%= f.text_field :price %>
        </div>

        <div class="field">
            <%= f.label :cellared_at, "Cellared Date:" %>
            <%= f.text_field :cellared_at, :class => 'date', :value => beer.cellared_at ? beer.cellared_at.strftime("%Y-%m-%d") : nil %>
        </div>

        <div class="field">
            <%= f.label :finish_aging_at, "Age For:" %>
            <%= f.text_field :finish_aging_at, :class => 'date' %>

            <div class="sub field">
                <%= select_tag 'beer_finish_aging_year', options_for_select((0..50).to_a, @years) %> years
                <%= select_tag 'beer_finish_aging_month', options_for_select((0..11).to_a, @months) %> months
            </div>
        </div>
    </div>

    <div class="add-beer left">
        <div class="field">
            <% unless beer.brew.nil? %>
              <%= f.collection_select :brew_id, Brew.find_by_brewery_id(beer.brew.brewery.id), :id, :name, :disabled => true %>
            <% else %>
              <%= f.select :brew_id, [], { :include_blank => 'Beer' }, :disabled => true %>
            <% end %>
        </div>

        <div class="field">
            <%= f.label :markup, "Notes:" %>
            <%= f.text_area :markup %>
        </div>
    </div>
</div>
    
<div class="buttons">
    <button type="button" data-close-dialog>Cancel</button>
    <button type="submit">Add Beer to Cellar</button>
</div>
<% end %>
