<% content_for :title do %>
  <%= beer_title(@beer) %>
<% end %>

<div class="navigation">
  <%= link_to 'Back to Cellar', cellar_path(@beer.cellar.user.username) + '#cellar' %>

  <%- if user_owns_cellar?(@beer.cellar) %>
    <button type="button" id="new-tasting-note">New Tasting Note</button>
  <%- end %>
</div>

<h2><%= beer_title(@beer) %></h2>

<div class="clearfix beer-info">
  <div class="left">
    <div class="field">
      <span class="label">Name:</span> <span class="value"><%= @beer.name %></span>
    </div>

    <div class="field">
      <span class="label">Year:</span> <span class="value"><%= @beer.year %></span>
    </div>
  </div>

  <div class="right">
    <div class="field">
      <span class="label">Brewery:</span> <span class="value"><%= @beer.brewery %></span>
    </div>

    <div class="field">
      <span class="label">Style:</span> <span class="value"><%= @beer.style %></span>
    </div>
  </div>
</div>

<h3>Other Info</h3>

<div class="clearfix beer-info">
  <div class="left">
    <div class="field">
      <span class="label">Bottle Size:</span> <span class="value"><%= @beer.bottle_size %></span>
    </div>

    <div class="field">
      <span class="label">Price:</span> <span class="value"><%= @beer.price ? number_to_currency(@beer.price) : 'Unknown' %></span>
    </div>

    <div class="field">
      <span class="label">ABV:</span> <span class="value"><%= @beer.abv ? number_to_percentage(@beer.abv, :precision => 2) : 'Unknown' %></span>
    </div>
  </div>

  <div class="right">
    <div class="field">
      <span class="label">Quantity in Cellar:</span> <span class="value"><%= @beer.quantity %></span>
    </div>

    <div class="field">
      <span class="label">Cellared On:</span> <span class="value"><%= format_date(@beer.cellared_at) %></span>
    </div>

    <div class="field">
      <span class="label">Aging Complete:</span> <span class="value"><%= format_date(@beer.finish_aging_at) %></span>
    </div>
  </div>
</div>

<h3>Tasting Notes</h3>

<%- if @beer.tasting_notes.empty? %>
  <div class="empty">No tasting notes have been filed for this beer yet.</div>
<%- else %>
  <div id="tasting-notes">
    <%- @beer.tasting_notes.each do |tasting_note| %>
      <%= render 'tasting_notes/list', :tasting_note => tasting_note %>
    <%- end %>
  </div>
<%- end %>

<div class="hidden">
  <div id="new-tasting-note-form">
    <%= render 'tasting_notes/new', :form_element_prefix => 'tasting_note' %>

    <div class="buttons">
      <button class="cancel">Cancel</button>
      <button class="submit">Create Tasting Note</button>
    </div>
  </div>
</div>

<%- content_for :javascript do %>
    <script type="text/javascript" src="/javascripts/jquery.dynamicForm.js"></script>

    <script type="text/javascript">
$(function() {
  $('#new-tasting-note').bind('click', function() {
    var dialog = $('#new-tasting-note-form');
    dialog.dialog({modal: true, width: 'auto', height: 'auto', resizeable: false, title: 'Add a Tasting Note'});

    dialog.find('button.cancel').click(function() {
      dialog.dialog('close');
    });

    var form = dialog.dynamicForm({
      submitStart: function() {
        hoptopus.showProgress('Adding Tasting Note...');
      },
      submitDone: function() {
        hoptopus.hideProgress();
      },
      success: function(data) {
        dialog.dialog('close');
        dialog.find('input').val('');
        dialog.find('textarea').val('');

        hoptopus.showAlert('Tasting Note Added.');
        $('#tasting-notes').append(data);
      },
      responseType: 'html'
    });

    dialog.find('.buttons .submit').click(function() {
      form[0].submit('<%= cellar_beer_tasting_notes_path(@cellar, @beer) %>');
    });
  });
});

    </script>
<%- end %>
