<% content_for :title do %>
	<%= (@beer.year ? @beer.year + " " : "") + @beer.brew.name %>
<% end %>

<div class="navigation">
  <%= link_to 'Back to Cellar', cellar_path(@beer.cellar.user.username) %>
  <%= link_to 'View Brew Wiki Entry', brew_path(@beer.brew) %>
	
	<% if @beer.cellar.user == @user %>
    <div class="controls">
		<%= link_to 'Edit Beer & Notes', edit_cellar_beer_path(@beer.cellar, @beer) %>
    </div>
	<% end %>
</div>

<h2><%= (@beer.year ? @beer.year + " " : "") + @beer.brew.name %></h2>

<div class="brief info">
	<div class="field">
		<span class="label">Name:</span> <span class="value"><%= @beer.name %></span>
	</div>
	
	<div class="field">
		<span class="label">Brewery:</span> <span class="value"><%= @beer.brewery_name %></span>
	</div>
	
	<div class="field">
		<span class="label">Type:</span> <span class="value"><%= @beer.brew.brew_type.name %></span>
	</div>
	
	<div class="field">
		<span class="label">Location:</span>
		<span class="value"><%= brew_location @beer.brew %></span>
	</div>
	
	<div class="field">
	  <span class="label">ABV:</span> <span class="value"><%= @beer.abv || 'Unknown' %></span>
	</div>

	<div class="field">
	  <span class="label">Price:</span> <span class="value"><%= @beer.price || 'Unknown' %></span>
	</div>

	<div class="field">
	  <span class="label">Size:</span> <span class="value"><%= @beer.bottle_size.name %></span>
	</div>

	<div class="field">
	  <span class="label">Quantity in Cellar:</span> <span class="value"><%= @beer.quantity %></span>
	</div>
    
    <div class="field">
	  <span class="label">Cellared On:</span> <span class="value"><%= @formatted_cellared_at %></span>
	</div>
    
    <div class="field">
	  <span class="label">Aging Complete:</span> <span class="value"><%= @formatted_finish_aging_at %></span>
	</div>
</div>

<div class="description">
	<%== @beer.current_revision.to_html || "No notes have been added for this beer." %>
</div>
