<% content_for :title do %>
	<%= (@beer.year ? @beer.year + " " : "") + @beer.brew.name %>
<% end %>

<div class="navigation">
	<a href="/cellars/<%= @beer.cellar.user.username %>">Back to Cellar</a> <%= link_to 'See in Brew Wiki', brew_path(@beer.brew) %>
	
	<% if @beer.cellar.user == @user %>
		<%= link_to 'Edit Beer', edit_cellar_beer_path(@beer.cellar, @beer) %>
	<% end %>
</div>

<h2><%= (@beer.year ? @beer.year + " " : "") + @beer.brew.name %></h2>

<div class="brief info">
	<div class="field">
		<span class="label">Name:</span> <span class="value"><%= @beer.name %></span>
	</div>
	
	<div class="field">
		<span class="label">Brewery:</span> <span class="value"><%= @beer.brewery_name %></span>
	</div>
	
	<div class="field">
		<span class="label">Type:</span> <span class="value"><%= @beer.brew.brew_type.name %></span>
	</div>
	
	<div class="field">
		<span class="label">Location:</span>
		<span class="value"><%= brew_location @beer.brew %></span>
	</div>
	
	<div class="field">
	  <span class="label">ABV:</span> <span class="value"><%= @beer.abv || 'Unknown' %></span>
	</div>

	<div class="field">
	  <span class="label">Price:</span> <span class="value"><%= @beer.price || 'Unknown' %></span>
	</div>

	<div class="field">
	  <span class="label">Size:</span> <span class="value"><%= @beer.bottle_size.name %></span>
	</div>

	<div class="field">
	  <span class="label">Quantity in Cellar:</span> <span class="value"><%= @beer.quantity %></span>
	</div>
</div>

<div class="description">
	<%== @beer.to_html || "No notes have been added for this beer." %>
</div>
