<% content_for :title do %>
  <%= beer_title(@beer) %>
<% end %>

<div class="navigation">
  <%= link_to 'Back to Cellar', cellar_path(@beer.cellar.user.username) + '#cellar' %>
</div>

<h2><%= beer_title(@beer) %></h2>

<div class="clearfix beer-info">
  <div class="left">
    <div class="field">
      <span class="label">Name:</span> <span class="value"><%= @beer.name %></span>
    </div>

    <div class="field">
      <span class="label">Year:</span> <span class="value"><%= @beer.year %></span>
    </div>
  </div>

  <div class="right">
    <div class="field">
      <span class="label">Brewery:</span> <span class="value"><%= @beer.brewery %></span>
    </div>

    <div class="field">
      <span class="label">Style:</span> <span class="value"><%= @beer.style %></span>
    </div>
  </div>
</div>

<h3>Other Info</h3>

<div class="clearfix beer-info">
  <div class="left">
    <div class="field">
      <span class="label">Bottle Size:</span> <span class="value"><%= @beer.bottle_size %></span>
    </div>

    <div class="field">
      <span class="label">Price:</span> <span class="value"><%= @beer.price ? number_to_currency(@beer.price) : 'Unknown' %></span>
    </div>

    <div class="field">
      <span class="label">ABV:</span> <span class="value"><%= @beer.abv ? number_to_percentage(@beer.abv, :precision => 2) : 'Unknown' %></span>
    </div>
  </div>

  <div class="right">
    <div class="field">
      <span class="label">Quantity in Cellar:</span> <span class="value"><%= @beer.quantity %></span>
    </div>

    <div class="field">
      <span class="label">Cellared On:</span> <span class="value"><%= format_date(@beer.cellared_at) %></span>
    </div>

    <div class="field">
      <span class="label">Aging Complete:</span> <span class="value"><%= format_date(@beer.finish_aging_at) %></span>
    </div>
  </div>
</div>

<h3>Tasting Notes</h3>

<%- if @beer.tasting_notes.empty? %>
  <div class="empty">No tasting notes have been filed for this beer yet.</div>
<%- else %>
  <%- @beer.tasting_notes.each do |tasting_note| %>
    <%= render 'tasting_notes/list', :tasting_note => tasting_note %>
  <%- end %>
<%- end %>
