<%= content_for :title do %>
  manage users
<% end %>

<h2>Manage Users (Count: <%= @users.count %>)</h2>

<%= form_tag(makeadmin_admin_users_path) %>

  <ul class="navigation">
    <li><button data-url-path="<%= makeadmin_admin_users_path %>"   type="button" name="makeadmin" id="makeadminbtn" value="makeadmin">Make Admin</button></li>
    <li><button data-url-path="<%= revokeadmin_admin_users_path %>" type="button" style="display: none;" name="revokeadmin" id="revokeadminbtn" value="revokeadmin">Revoke Admin</button></li>
    <li><button type="submit" name="edit" id="editbtn" value="edit">Edit</button></li>
    <li><button data-url-path="<%= disableuser_admin_users_path %>" type="button" name="delete" id="deletebtn" value="delete">Delete</button></li>
    <li><button type="button" name="sendmessage" id="sendmessagebtn" value="sendmessage">Send Message</button></li>
  </ul>

  <table class="list">
    <thead>
      <tr>
      <th></th>
        <th>FB?</th>
        <th>ADM?</th>
        <th>Username</th>
        <th>Email Address</th>
        <th>Joined Date</th>
        <th>Last Login Date</th>
      </tr>
    </thead>
    
    <tbody>
      <% c = 'color2' %>
      <% @users.each do |u| %>
        <% c = c == 'color1' ? 'color2' : 'color1' %>
      <tr data-type-admin="<%= u.is_admin? %>" class="<%= c %>">
        <td align="center"><%= check_box("select_user","select_user",{ :class=> "selectuser" },u.id) %></td>
        <td align="center"><%= u.facebook_id ? image_tag('/images/check.png', {}) : nil %></td>
        <td align="center" class="admincell"><%= u.is_admin? ? image_tag('/images/check.png', {}) : nil  %></td>
        <td><%= u.username %></td>
        <td><%= u.email %></td>
        <td><%= u.created_at %></td>
        <td><%= u.last_login_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </form>

<% 
  emails = []
  @users.each { |u| emails << u.email }
%>

<h3>All emails</h3>
<p>You can select all of the emails joined with a ; by clicking on the text box below. This way you can copy it and email everyone at once!</p>
<input type="text" value="<%= emails.join ';' %>" id="all-emails" />

<% content_for :javascript do %>
<script type="text/javascript" src="/javascripts/hoptopus.grid.js"></script>
<script type="text/javascript" src="/javascripts/jquery.sortableColumns.js"></script>
<script type="text/javascript" src="/javascripts/hoptopus.ajaxCheckboxes.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {

hoptopus.ajaxCheckboxes("makeadminbtn","selectuser", function() {
    $(".selectuser:checked").each (function() {
        var admCell = $(this).parent("td").nextAll(".admincell");

        if(admCell.has("img").length == 0) {
            admCell.prepend(checkmarkImg.clone());
            $(this).removeAttr("checked");
            $(this).parents("tr").first().attr("data-type-admin","true");
            handleRowChange($(this));
        }
    });
});


hoptopus.ajaxCheckboxes("revokeadminbtn", "selectuser", function() {
    $(".selectuser:checked").each (function() {
        var admCell = $(this).parent("td").nextAll(".admincell").empty();
        $(this).removeAttr("checked");
        $(this).parents("tr").first().attr("data-type-admin","false");
        handleRowChange($(this));
    });
});

hoptopus.ajaxCheckboxes("deletebtn", "selectuser", function() {
    $(".selectuser:checked").each (function() {
        $(this).parents("tr").first().remove();
    });
});

    var checkmarkImg = $("<img />").attr("src" ,"/images/check.png");

    function enableButtons(a, b){
        a.removeAttr("disabled");
        b.removeAttr("disabled");
    }

    function getSelectedUsers(){
        var user_ids = $(".selectuser:checked");
        var data = { 'selected_users' : []};
        user_ids.each(function() {data['selected_users'].push($(this).val());});
        return data;
    }

    function handleRowChange(checkbox) {
        if(checkbox.is(':checked')) checkbox.parents("tr").first().addClass("rowselected");
        else checkbox.parents("tr").first().removeClass("rowselected");
    }

    function handleAdminButtonSwitches(){
        var hasAdminSelected = $('.selectuser:checked').parents("tr[data-type-admin=true]").length > 0;
        var hasNonAdminSelected = $('.selectuser:checked').parents("tr[data-type-admin=false]").length > 0;

        var revokeAdminButton = $("#revokeadminbtn");
        var makeAdminButton = $("#makeadminbtn");

        if(hasAdminSelected && hasNonAdminSelected){
            makeAdminButton.attr("disabled", "disabled").show();;
            revokeAdminButton.attr("disabled", "disabled").hide();
        } else if(hasAdminSelected){
            enableButtons(revokeAdminButton,makeAdminButton)
            revokeAdminButton.show();
            makeAdminButton.hide();
        } else if(hasNonAdminSelected){
            enableButtons(revokeAdminButton,makeAdminButton)
            revokeAdminButton.hide();
            makeAdminButton.show();
        } else {
            makeAdminButton.show();
            revokeAdminButton.hide();
        }
    }

    function makeSelectedUserCall(url,callback) {
        var data = getSelectedUsers();

        if(data['selected_users'].length > 0) {
            $.ajax({ type: 'POST', url: url, data: data, success: callback, dataType: 'json' });
        } else {
            alert("You must select at least one person to revoke!")
        }
    }

    $('input[type=checkbox]').change(function(){
        handleRowChange($(this));
        handleAdminButtonSwitches();
    });
});

$(function() {
  $('#all-emails').mouseup(function() { this.select(); });
});
</script>
<% end %>