<%= content_for :title do %>
  manage users
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript" src="/javascripts/hoptopus.grid.js"></script>
<script type="text/javascript" src="/javascripts/jquery.sortableColumns.js"></script>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
    $("#makeadminbtn").click (function(){
        var url = '<%= makeadmin_admin_users_path %>';
        var userIds = $(".selectedUser:checked");

        var data = { 'selected_users' : []};
        userIds.each(function() {data['selected_users'].push($(this).val());});

        if(userIds.length > 0) {
            $.ajax({ type: 'POST', url: url, data: data, success: function (request) {}, dataType: 'json' });
        } else {
            alert("You must select at least one person to make admin!")
        }
    });
});
</script>
<% end %>

<h2>Manage Users (Count: <%= @users.count %>)</h2>

<%= form_tag(makeadmin_admin_users_path) %>

  <ul class="navigation">
    <li><button type="button" name="makeadmin" id="makeadminbtn" value="makeadmin">Make Admin</button></li>
    <li><button type="submit" name="edit" id="editbtn" value="edit">Edit</button></li>
    <li><button type="button" name="delete" id="deletebtn" value="delete">Delete</button></li>
    <li><button type="button" name="sendmessage" id="sendmessagebtn" value="sendmessage">Send Message</button></li>
  </ul>

  <table class="list">
    <thead>
      <tr>
      <th></th>
        <th>FB?</th>
        <th>ADM?</th>
        <th>Username</th>
        <th>Email Address</th>
        <th>Joined Date</th>
        <th>Last Login Date</th>
      </tr>
    </thead>
    
    <tbody>
      <% c = 'color2' %>
      <% @users.each do |u| %>
        <% c = c == 'color1' ? 'color2' : 'color1' %>
      <tr class="<%= c %>">
        <td align="center"><%= check_box("selectUser","selectUser",{ :class=> "selectedUser" },u.id) %></td>
        <td align="center"><%= u.facebook_id ? image_tag('/images/check.png', {}) : nil %></td>
        <td align="center"><%= u.is_admin? ? image_tag('/images/check.png', {}) : nil  %></td>
        <td><%= u.username %></td>
        <td><%= u.email %></td>
        <td><%= u.created_at %></td>
        <td><%= u.last_login_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </form>

<% 
  emails = []
  @users.each { |u| emails << u.email }
%>

<h3>All emails</h3>
<p>You can select all of the emails joined with a ; by clicking on the text box below. This way you can copy it and email everyone at once!</p>
<input type="text" value="<%= emails.join ';' %>" id="all-emails" />

<% content_for :javascript do %>
<script type="text/javascript">
$(function() {
  $('#all-emails').mouseup(function() { this.select(); });
});
</script>
<% end %>