<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> / hoptopus</title>
  <%= stylesheet_link_tag :all %>
  <link rel="icon" type="image/ico" href="/favicon.ico" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.hoptopus.js" type="text/javascript"></script>
  <script src="/javascripts/hoptopus.js" type="text/javascript"></script>
  <script src="/javascripts/guiders-1.1.0.js" type="text/javascript"></script>

<%- if Rails.env.production? %>
  <%- unless is_admin? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20887375-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "hoptopus";
      feedback_widget_options.placement = "right";
      feedback_widget_options.color = "#85AF22";
      feedback_widget_options.style = "idea";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
  <%- end %>
<%- end %>

  <%= csrf_meta_tag %>

  <%= yield :javascript %>
</head>

<body>

<div id="top">
  <div class="clearfix">
    <h1><a href="<%= absolute_url root_path %>"><img src="/images/little-hoptopus.png" alt="it's the hoptopus!" border="0" class="logo" /> hoptopus <span class="beta">beta!</span></a></h1>

    <%= render :partial => 'shared/navigation' %>
  </div>
</div>

<div class="content-wrapper">
  <div id="content">
    <%= yield %>
  </div>

  <div id="flashes">
    <%- flash.each do |k,v| %>
      <div class="<%= k %> flash"><%= v %></div>
    <%- end %>
  </div>
</div>
  
<div id="bottom">
  Copyright 2011 &copy; The Hoptopus People <%= link_to 'Contact', contact_index_path %> | <a href="http://hoptopus.posterous.com/">Blog</a>
</div>

<% if Rails.env == 'development' %>
 <h2>Session Information</h2>

 <pre style="text-align: center;">
<%= session.inspect %>
 </pre>
<% end %>

</body>
</html>
